.padding-bottom {
    padding-bottom: 1em;
}

.padding-top {
    padding-top: 1em;
}

.flex {
    display: flex;
}

.flex-align-center {
    justify-content: center;
}

.flex-column-flow {
    flex-flow: column;
}